/*display: flex;: Convierte al contenedor en un contenedor flex.

justify-content: space-between;: Distribuye los elementos con espacio igual entre ellos.

align-items: center;: Centra los elementos verticalmente dentro del contenedor.
 */

.flex-container {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alinea los elementos al centro verticalmente */
    background-color: lightgray;
    padding: 10px;
}

.flex-item {
    background-color: deepskyblue;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}
